header {
  background-color:lightblue;
}

a {
  background-position: center;
}

nav {
  background-color:white;
}

p {
  background-color: white;
}

section {
  background-color: cornflowerblue;
}

ol {
  background-color: violet;
}
